a, u {
    text-decoration: none !important;
}

.heading {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0px;
    text-decoration: none !important;
    color: #333333!important;

}



.nav-bar-fade-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.nav-bar-fade-on-hover:hover, .nav-bar-fade-on-hover:focus, .nav-bar-fade-on-hover:active {
    background-color: #5262bc;
    color: white;
}

.nav-bar-fade-on-hover-main {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.nav-bar-fade-on-hover-main:hover, .nav-bar-fade-on-hover-main:focus, .nav-bar-fade-on-hover-main:active {
    background-color: #fa3c74;
    color: white;
    text-decoration-color: white;
    cursor: pointer;
    cursor: hand;
}

.navbar-info {
    background-color: #5262bc !important;
}

.btn {
    background-color: #5262bc !important;
    border: 1px solid #5262bc !important;
    color: white !important;
}

.btn:hover {
    background-color: white !important;
    color: #5262bc !important;
}

a {
    color: white !important;
}

a:hover {
    color: #5262bc !important;
}

.navbar a:hover {
    color: white !important;
}

.btn .btn-raised {
    color: white !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}